$breakpoints: (
  small: 40em,
  // 640
  medium: 65em // 1040,,
);
@mixin mq($size) {
  @if map-has-key($breakpoints, $size) {
    @media screen and (min-width: map-get($breakpoints,$size)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $size) {
      @content;
    }
  }
}
